// $bar-color: #b8c2cc;
$bar-color: #1976d2;
$bar-stroke: #1976d2;
$border-color: #e0e0e0;
$light-bg: #f5f5f5;
$light-border-color: #ebeff2;
$handle-color: #ddd;
$text-muted: #666;
$text-light: #555;
$text-color: #333;
$grey: #b8c2cc;
$blue: #3887f3;
$light-blue: #82b1f3;
$light-red: #f1aa9e;
$light-yellow: #fcf8e3;
$green: #43a047;
$light-green: #b9f3b9;


body {
  font-family: sans-serif !important; 
}

.gantt {

	.grid-background {
		fill: none;
	}
	.grid-header {
		fill: #ffffff;
		stroke: $border-color;
		stroke-width: 1.4;
	}
	.grid-row {
		fill: #ffffff;
	}
	.grid-row:nth-child(even) {
		fill: $light-bg;
	}
	.row-line {
		stroke: $light-border-color;		
	}
	.row-line-project {		
		stroke: $border-color;		
		stroke-width: 1.4;
	}
	.tick {
		stroke: $border-color;
		stroke-width: 0.3;
		&.thick {
			stroke-width: 0.4;
		}
	}

	.tick-today, .tick-current, .tick-current-late {		
		stroke-width: 1;	
		opacity: 0.8;	
		stroke-dasharray: 7;
	}

	.tick-today {
		stroke: $green;		
	}

	.tick-current {
		stroke: $light-blue;
		
	}
	.tick-current-late {
		stroke: $light-red;
	}

	.today-highlight, .current-highlight, .current-highlight-late{
		opacity: 0.5;
	}

	.today-highlight {
		fill: $light-green;		
	}

	.current-highlight {
		fill: $light-blue;
	}

	.current-highlight-late {
		fill: $light-red;
	}

	#arrow {
		fill: none;
		stroke: $text-muted;
		stroke-width: 1.4;
	}

	.bar {
		fill: $bar-color;
		stroke: $bar-stroke;
		stroke-width: 0;
		transition: stroke-width .3s ease;
	}

	.bar-late .bar {	
		fill: #f1b4a9 !important;
		stroke: tomato;
		// stroke-dasharray: 7;
		stroke-width: 0.8;
		opacity: 0.8;
	}	

	.bar-progress {
		fill: $green;
	}
	.bar-invalid {
		fill: transparent;
		stroke: $bar-stroke;
		stroke-width: 1;
		stroke-dasharray: 5;

		&~.bar-label {
			fill: $text-light;
		}
	}
	.bar-label {
		fill: #fff;
		dominant-baseline: central;
		text-anchor: middle;
		font-size: 12px;
		// font-weight: lighter;
		letter-spacing: 0.8px;

		&.big {
			fill: $text-light;
			text-anchor: start;
		}
	}

	.handle {
		fill: $handle-color;
		cursor: ew-resize;
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s ease;
	}

	.bar-wrapper {
		cursor: pointer;

		&:hover {
			.bar {
				stroke-width: 2;
			}

			.handle {
				visibility: visible;
				opacity: 1;
			}
		}

		&.active {
			.bar {
				stroke-width: 2;
			}
		}
	}

	.lower-text, .upper-text {
		font-size: 12px;
		text-anchor: middle;
	}
	.upper-text {
		fill: $text-light;
	}
	.lower-text {
		fill: $text-color;
	}
	.project-text{
		fill: $text-light;
		text-anchor: middle;
	}

	#details .details-container {
		background: #fff;
		display: inline-block;
		padding: 12px;

		h5, p {
			margin: 0;
		}

		h5 {
			font-size: 12px;
			font-weight: bold;
			margin-bottom: 10px;
			color: $text-light;
		}

		p {
			font-size: 12px;
			margin-bottom: 6px;
			color: $text-muted;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	.hide {
		display: none;
	}

	.grid-project-row {
		fill: $light-bg;
	}

	.avatarContainer{
		height: 64px;
		display: flex;
		align-items: center;
		padding-right: 10px;
		float: left;
		
	}
	.avatar{
		height: 50px !important;
	}	

}

